.main-screen {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    .kobayashi-display {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 25px;
        flex-wrap: wrap;
    }

    /* add a corresponding positive top margin to all flex items (all direct children of the flex container) */
    .kobayashi-display > * {
        margin-top: 25px;
    }

    .expand-wrapper {
        display: flex;
        position: absolute;
        bottom: 15px;
        left: 15px;
        z-index: 2;

        .expand-button {
            display: flex;
            border-radius: 50%;
            background-color: #2a2a2a;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            font-size: x-large;
            transition: 1s ease;
            transform: rotate(180deg);
            color: #FEE73F;
            cursor: pointer;
        }

        .expand-rotation {
            transform: rotate(0deg);
        }
    }
}