.bottom-slider {
    display: flex;
    position: absolute;
    width: 100vw;
    z-index: 1;

    // Transition Values
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
}

.slideIn {
    bottom: 10px !important;
}