.dot {
    display: flex;
    width: 2.5vw;
    height: 2.5vw;
    min-width: 2.5vw;
    min-height: 2.5vw;
    border-radius: 100%;
    background-color: #2a2a2a;
    margin-right: 1vw;
    justify-content: center;
    align-items: center;

    // Default State
    transform: scale(1, 1);

    &:last-child {
        margin-right: 0px;
    }

    .character {
        font-size: 1.5vw;
        color: transparent;
        background-color: transparent;
    }
}

.transition {
    // Transition Values
    -webkit-transition: all .25s ease;  
    -moz-transition: all .25s ease;  
    -o-transition: all .25s ease;  
    -ms-transition: all .25s ease;  
    transition: all .25s ease;
}

.dotTransition {
    transform: scale(.5, 1);
    
}

.blur {
    -webkit-filter: blur(2.5px);
    -moz-filter: blur(2.5px);
    -o-filter: blur(2.5px);
    -ms-filter: blur(2.5px);
    filter: blur(2.5px);
}

.textInit {
    transform: scale(1,1.5);
}

.textExpand {
    transform: scale(1, 1);
}

