.dot {
    display: flex;
    width: 2.5vw;
    height: 2.5vw;
    min-width: 2.5vw;
    min-height: 2.5vw;
    border-radius: 100%;
    background-color: #2a2a2a;
    // background-color: rgba(0,0,0,.5);
    margin-right: 1vw;
    justify-content: center;
    align-items: center;

    // Default State
    transform: scaleX(1);

    &:last-child {
        margin-right: 0px;
    }

    .character {
        font-size: 1.5vw;
        color: transparent;
        background-color: transparent;
    }
}

.transition {
    // Transition Values
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
}

.dotCollapse {
    transform: scaleX(0);
}

.textExpand {
    transform: scaleX(1);
}

